
header
{
    margin-bottom: 20px;
}

header h1
{
    text-align: center;
}

header img
{
    position: relative;
    left: 35%;
    width: 30%;
}

main h2
{
    display: block;
    width: 100%;
    text-align: center;
    background-color: black;
    color: chartreuse;
    height: 10%;
    margin-bottom: 30px;
}

iframe
{
    position: relative;
    left: 400px;
}